__pycache__
env/
Scripts/
tcl/
lib/
Include/
models/
models
models/*
rasa_core.log
requirements.txt
glove.6B.300d.w2vformat.txt
glove.6B.100d.w2vformat.txt
glove.6B.50d.w2vformat.txt
glove.6B.200d.w2vformat.txt